<div class="container mt-3">
  <h2>Listado de Tareas</h2>

  <li class="list-group-item pt-1 pb-1">
    <div class="input-group d-flex align-items-center">
      <button class="btn btn-outline-success" (click)="agregarNuevaTarea()">+</button>
      <input type="text" class="form-control filtro-input" id="filtroTitulo" name="filtroTitulo" [(ngModel)]="filtro.titulo" (input)="filtrarPorTitulo()" />
      <select class="form-select" id="filtroUsuario" name="filtroUsuario" [(ngModel)]="filtro.usuario" (change)="filtrarPorContacto()">
        <option value="">Todos los usuarios</option>
        <option *ngFor="let usuario of listaDeContactos" [value]="usuario.name">{{ usuario.name }}</option>
      </select>
    </div>
  </li>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Usuario Asignado</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of tareasFiltradas">
        <td>{{ tarea.id }}</td>
        <td>{{ tarea.name }}</td>
        <td>{{ tarea.description }}</td>
        <td>{{ tarea.contactName }}</td>
        <td>{{ tarea.startDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ tarea.endDate | date:'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="eliminarTarea(tarea.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
